services:
  -
    class: Alcaeus\Fluent\PHPStan\Type\ClassWrapperReturnTypeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
      - phpstan.broker.dynamicMethodReturnTypeExtension
